server:
  port: 8080
  error:
    include-message: always
spring:
  application:
    name: "msvc-authentication"
  devtools:
    add-properties: false
  h2:
    console:
      enabled: true
      path: "/h2"
  profiles:
    include: null
management:
  endpoints:
    web:
      exposure:
        include: "health,prometheus"
  endpoint:
    health:
      probes:
        enabled: true
cors:
  allowed-origins: "http://localhost:4200,http://localhost:8080"

routes:
  paths:
    users: "api/v1/users"
    userById: "api/v1/users/{id}"
    userByIdentificationNumber: "api/v1/users/{identificationNumber}"

  #PostgreSQL
adapters:
  r2dbc:
    host: "localhost"
    port: 5432
    database: "crediya_db"
    schema: "public"
    username: "postgres"
    password: "sasa"
